<div class="o-teaser o-teaser--small" data-o-component="o-teaser" data-o-grid-colspan="two-thirds">
  <div class="o-teaser__content">

    <h2 class="o-teaser__heading">
      <a href="{{ location.uri }}">{{ title.title }}</a>
    </h2>

    <p class="o-teaser__standfirst">{{ summary.excerpt }}</p>
    <div class="o-teaser__timestamp">
      <time class="o-teaser__timestamp-date" datetime="{{ lifecycle.initialPublishDateTime }}">
        {{ readableTimestamp lifecycle.initialPublishDateTime }}
      </time>
    </div>
  </div>
</div>
